.myButton{
	display: block;
	height: 60px;
	width: 130px;
	text-align: center;
	background: none;
	font-size: 0.85em;
	border: 2px solid #00b300;
	border-radius: 50px;
	color: #00b300;
	text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 2px;
	transition: all 0.5s ease;
}
.myButtonNo{
	display: block;
	height: 60px;
	width: 130px;
	text-align: center;
	background: none;
	font-size: 0.85em;
	border: 2px solid #e60000;
	border-radius: 50px;
	color: #e60000;
	text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 2px;
	transition: all 0.5s ease;
}
.loader{
	font-size: 0;
	height: 60px;
	width: 60px;
	background: transparent;
	border: 4px solid #fff;
	border-radius: 50%;
	border-top-color: transparent;
	animation: animate 1s 0.4s linear infinite;
}
@keyframes animate{
	100%{
		transform: rotate(360deg);
	}
}
.finished{
	font-size: 0;
	height: 70px;
	width: 70px;
	border: none;
	background: #fff;
	position: relative;
	float: center;
	animation: special 1s ease-in;
}
@keyframes special{
	10%{
		transform: scale(0.8) translateY(20px);
	}
	35%{
		transform: scale(1) translateY(0px);
	}
}
.finished:before{
	content: url('greentick.png');
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}