.videowrapper {
position: relative;
padding-bottom: 56%;
padding-top: 25px;
height: 0px;
}
.videowrapper iframe{
 position: absolute;
 left: 0px;
 top: 0px;
 right: 0px;
 bottom: 0px;
 height: 85%;
 width: 100%;
}
.avatar{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #2c303a;
	border: 2px solid #2c303a;
}
img{
	width: 50%;
	height: 50%;
	object-fit: cover;
}