*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	line-height: 1.5;
}


.small-container{
	max-width: 1000px;
	margin: auto;
	padding-left: 25px;
	padding-right: 20px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.single-product{
	margin-top: 80px;
}
.small-img-row{
	display: flex;
}
.col-2 img{
	max-width: 70%;
	padding: 50px ;
}
.small-img-col{
	flex-basis: 30%;
	cursor: pointer;
}
.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
	text-align:center;
}
.col-2 h1{
	font-size: 30px;
	color: #ffc107;
	line-height: 40px;
}
.single-product h4{
	margin: 10px 0;
	font-size: 20px;
	font-weight: 3x;
}
.single-product input{
	width: 100px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
}
input:focus{
	outline: none;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
span{
	font-weight: bold;
}
.btn{
	display: inline-block;
	background: #ffc107;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s; 
}
.btn:hover{
	background: #daa520;
}


#comment{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.comment-heading{
	letter-spacing: 1px;
	margin: 30px 0px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.comment-heading span{
	font-size: 1.3rem;
	color: #000000;
	margin-bottom: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.comment-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.comment-box{
	width: 500px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	background-color: #fff;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
}
.profile-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.profile-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.profile{
	display: flex;
	align-items: center;
}
.name-user{
	display: flex;
	flex-direction: column;
}
.name-user strong{
	color: #3d3d3d;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}
.name-user span{
	color: #979797;
	font-size: 0.8rem;
}
.reviews{
	color: #f9d71c;
}
.box-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.user-comment p{
	font-size: 0.9rem;
	color: #4b4b4b;
}
.comment-text{
	display: flex;
	text-align: center;
}
label{
	font-size: 20px;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
.submit{
  background-color: #ffc107;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #daa520;
}
.containers {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.required{
      padding: 0 30px 0 50px;
      color: #999;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: red;
      font-style: italic;
    }